body {
  display: flex;
  background-color: #fdd3ff;
  color:black;
  flex-direction: column;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.footer {
  background-color: #d3d7ff;
  padding: 1em;
  padding-bottom: 5em;
}

.tagAdd {
  font-size: 20.5px !important;
}

.radio {
  font-size: 1.5rem;
    padding-bottom: 1em;
    font-weight: 600;
}

.marginOr {
  margin-left: 1em;
  margin-right: 1em;
}

.left {
    float: left;
    justify-content: left;
    margin-left: -77%;
    margin-bottom: -5%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.imgList {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 1em;
    margin-top: -.5em;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.logo {
  font-family: 'Lobster', sans-serif;
  font-size: 5em;
  margin-right: .5em;
  margin-left: .5em;

}
.card-content {
  color: white;
  background-color: #d3d7ff;
  padding: 2%;
}
.card {
  background-color: #d3d7ff;
  border: #d3d7ff solid 0em; 
  border-radius: 1em;
  color: white;
  padding: 2%;
  margin-top: 1em;
  margin-left: 13em;
  margin-right: -9em;
  margin-bottom: 1.5em;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0% !important;
}

.infoCard {
  background-color: #d3d7ff;
  border: #d3d7ff solid 0em; 
  border-radius: 1em;
  color: white;
  padding: 2%;
  margin-top: 1em;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userCard {
    margin-top: 1em;
    margin-left: 6em !important;
    margin-right: 0em !important;
}

.userCardBtn {
  position: absolute;
    right: 9% !important;
    bottom: 8.5% !important;
}

.infoName {
  font-size: 5em;
}

.infoHead {
  font-size: 2em;
  font-weight: 700;
}

.infoDetails{
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: .5em;
}
.card:hover, .card:focus {
  box-shadow: -5px 10px 5px rgba(189, 116, 173, 1);
}

.searchBox {
  background-color: #d3d7ff !important;
}

nav {
  margin-top: 0;
  background: #7b61a8;
  width: 100% !important;
  margin: auto
}

.description {
  margin: 0;
}

.rating {
    background-color: #7b61a8 !important;
    color: white !important;
}

.infoRating {
    background-color: #7b61a8 !important;
    color: white !important;
    position: absolute;
    left: 1.55%;
    bottom: -60.9%;
}

.infoSave {
    background-color: #7b61a8;
    color: white;
    text-align: center;
    margin-right: -0.3em;
    width: 15%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    position: absolute;
    left: 16.1%;
    bottom: -62.7%;
}

.relative {
  position: relative;
}

.nav-link:hover, .nav-link:focus {
  color: rgba(189, 116, 173, 1);
}

.nav-link {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.9rem;
  min-height: 100px;
  font-size: 1.1rem;
}
.input {
  width: 75%;
  margin-right: 2vw; }

.button:hover, .button.is-hovered {
  border-color: #7b61a8 !important;
}

.comments{
  width: 75%;
  margin: auto;
}
.add-content-form{
  width: 60vw;
  margin: 2rem;
}

.right {
  float: right;
}

.rateBtn {
  background-color: #fdd3ff;
}

.rateBtn:hover, .rateBtn.is-hovered {
  background-color: #7b61a8;
  color: white;
}

.r1Info {
    position: absolute;
    bottom: -68%;
    left: 1.5%;
}
.r2Info {
    position: absolute;
    bottom: -68%;
    left: 3.4%;
}
.r3Info {
    position: absolute;
    bottom: -68%;
    left: 5.3%;
}
.r4Info {
    position: absolute;
    bottom: -68%;
    left: 7.2%;
}
.r5Info {
    position: absolute;
    bottom: -68%;
    left: 9.1%;
}

.navBtn {
  background-color: #7b61a8;
  border: solid #7b61a8 .5em; 
  color: white;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  
}

.saveBtn {
    background-color: #7b61a8;
    color: white;
    text-align: center;
    margin-right: -0.3em;
    width: 30%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
}
.saveBtn:hover, .saveBtn.is-hovered {
  border-color: #fdd3ff !important;
  color: rgba(189, 116, 173, 1);
}



.tile {
  height: 100%;
}


.buttons:not(:last-child) {
    margin-bottom: -2.6rem;
}

.heroColor {
  background-color: #d3d7ff;
  margin-bottom: 1em;
}

.modalCont {
  background-color: #7b61a8 !important;
  color: white;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  
}

.modalP {
  font-size: 2em;
}

.modalColor {
  background-color: #d3d7ff;
}
.modalHead {
  background-color: #7b61a8;
  color: white;
}
.modalHead p{
  background-color: #7b61a8;
  color: white;
}
