body {
  display: flex;
  background-color: #fdd3ff;
  color:black;
  flex-direction: column;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
// }
// #mainContent {
//   width: 90%;
//   margin: auto;
// }

.logo {
  font-family: 'Lobster', sans-serif;
  font-size: 5em;
  margin-right: .5em;
  margin-left: .5em;

}
.card-content {
  color: white;
  background-color: #d3d7ff;
  padding: 2%;
}
.card {
  background-color: #d3d7ff;
  border: #d3d7ff solid 0em; 
  border-radius: 1em;
  color: white;
  padding: 2%;
  margin-top: 1em;
  margin-left: 13em;
  margin-right: -9em;
}

nav {
  margin-top: 0;
  background: #7b61a8;
  width: 100% !important;
  margin: auto
}

.rating {
  background-color: #7b61a8 !important;
  color: white !important;

}

// .navLinkBox:hover, .navLinkBox:focus {
// //   background: rgba($color: #000000, $alpha: 0.05)
// // }
.nav-link:hover, .nav-link:focus {
  color: rgba(189, 116, 173, 1);
}

.nav-link {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.9rem;
  min-height: 100px;
  font-size: 1.1rem;
}
.input {
  width: 75%;
  margin-right: 2vw; }


// .input:hover, .input:focus{
//   border: 3px #84cdaf solid;
//   }
// .textarea:hover, .textarea:focus{
//   border: 3px #84cdaf solid;
//   }

.button:hover, .button.is-hovered {
  border-color: #7b61a8 !important;
  // color:#7b61a8 !important;
}

.comments{
  width: 75%;
  margin: auto;
}
.add-content-form{
  width: 60vw;
  margin: 2rem;
}

// .noBlue:link, .noBlue:hover, .noBlue:visited, .noBlue:active {
//   color: black;

// }
.right {
  float: right;
}

.rateBtn {
  background-color: #84cdaf;
}

// img {
//   width: 75%;
//   height: auto;
// }

.navBtn {
  background-color: #7b61a8;
  border: solid #7b61a8 .5em; 
  color: white;
}

.tile {
  height: 100%;
}
// .box{
//   background-color: #84a2cd;
// }

.buttons:not(:last-child) {
    margin-bottom: -2.6rem;
}
