body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #84a2cd;
  
}
#mainContent {
  flex: 1;
}

nav {
  margin-top: 0;
  background: #84cdaf;
}

.navLinkBox:hover, .navLinkBox:focus {
  background: rgba($color: #000000, $alpha: 0.05)
}
.nav-link:hover, .nav-link:focus {
  color: rgba(189, 116, 173, 1);
}

.nav-link {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.9rem;
  min-height: 100px;
  font-size: 1.1rem;
}
.input {
  width: 75%;
  margin-right: 2vw; }


.input:hover, .input:focus{
  border: 3px #84cdaf solid;
  }
.textarea:hover, .textarea:focus{
  border: 3px #84cdaf solid;
  }

.comments{
  width: 75%;
  margin: auto;
}
.add-content-form{
  width: 60vw;
  margin: 2rem;
}

.noBlue:link, .noBlue:hover, .noBlue:visited, .noBlue:active {
  color: black;

}
.right {
  float: right;
}

.rateBtn {
  background-color: #84cdaf;
}

img {
  width: 75%;
  height: auto;
}

.navBtn {
  background-color: #84cdaf; 
}
// .box{
//   background-color: #84a2cd;
// }

