<section class="hero">
    <div class="hero-body heroColor">
        <div class="container">
            <h1 class="title">
                Add Date
            </h1>
            <h2 class="subtitle">
                Share your experiences!
            </h2>
        </div>
    </div>
</section>

<div class="columns is multiline">
    <div class="level column">
        <div class="level-item">
            <div class="box searchBox add-content-form">
                <div class="field">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="answer" ng-click="googleRadio()"> Google Search
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" ng-click="userRadio()"> User Upload
                        </label>
                    </div>
                    <div ng-show = "google">
                        <div class ="field">
                            <label class="label">Google Search</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Date Name" ng-model="searchInput" ng-keyup="keySearch($event)">
                            </div>
                        </div>
                            <div class="control">
                                <button class="button saveBtn" ng-click="getSearch()">Search It Google</button>
                            </div>
                            <div ng-show="googleSelected">
                                <div class="field">
                                    <label class="label">{{inputOne}}</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Date Name" ng-model="date.name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{inputThree}}</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Address" ng-model="date.location">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Phone Number</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Phone" ng-model="date.phone">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Web Site</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Website" ng-model="date.website">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{inputFour}}</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Img Link" ng-model="date.url">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{inputTwo}} (Optional)</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Your Description Here" ng-model="date.description"></textarea>
                                    </div>
                                </div>
                                <div class="control">
                                    <button class="button saveBtn" ng-click="saveItem()">{{buttonName}}</button>
                                </div>
                            </div>
                    </div>
                </div>
                <div ng-show = "userAdd">
                    <div class="field">
                            <label class="label">{{inputOne}}</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Date Name" ng-model="date.name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{inputThree}}</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Address" ng-model="date.location">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Phone" ng-model="date.phone">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Web Site</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Website" ng-model="date.website">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{inputFour}}</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Img Link" ng-model="date.url">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{inputTwo}} (Optional)</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Your Description Here" ng-model="date.description"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button saveBtn" ng-click="saveItem()">{{buttonName}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="columns is-multiline" >
        <div class="card userCard column is-one-quarter" ng-repeat="place in places">
            <ul class="card-content">
                    <li class="card-image">
                        <figure class="image is-1by1">
                            <img class="imgList" src="{{place.image}}" alt="Placeholder image">
                        </figure>
                    </li>
                    <ul class="media block">
                        <p class="title is-3">{{place.name}}</p>
                        <li class="subtitle is-6">{{place.formatted_address}}</li>
                        <li class="subtitle is-6">{{place.formatted_phone_number}}</li>
                        <li class="subtitle is-6">{{place.website}}</li>
                        <li>
                            <button class="button saveBtn right" ng-click="addToForm()">Create this Date</button>
                        </li>
                    </ul>
            </ul>
        </div>
    </div>


<div class="modal" id="createDate">
    <div class="modal-background" ng-click="toggleCreateDate()"></div>
    <div class="modal-card">
        <header class="modal-card-head modalHead">
            <p class="modal-card-title modalP">Date Created!</p>
            <button class="delete" aria-label="close" ng-click="toggleCreateDate()"></button>
        </header>
        <section class="modal-card-body modalColor">
            <p class="modalP">You just added {{createdName}} to Datr! Thanks for your contribution! </p>
        </section>
        <footer class="modal-card-foot modalColor">
            <button class="button is-success modalCont" ng-click="reload()">Create more Dates</button>
            <a class="button modalCont" ng-href="#!/dates">View All Dates</a>
        </footer>
    </div>
</div>