

<div class="level">
    <div class="level-item has-text-centered">
        <div class="box add-content-form">
            <div class="field">
                <label class="label">Google Search</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Date Name" ng-model="searchInput">
                </div>
            </div>
            <div class="field">
                <label class="label">{{inputOne}}</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Date Name" ng-model="date.name">
                </div>
            </div>
            <div class="field">
                <label class="label">{{inputThree}}</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Address" ng-model="date.location">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Address" ng-model="date.phone">
                </div>
            </div>
            <div class="field">
                <label class="label">Web Site</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Address" ng-model="date.website">
                </div>
            </div>
            <div class="field">
                <label class="label">{{inputFour}}</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Img Link" ng-model="date.url">
                </div>
            </div>
            <div class="field">
                <label class="label">{{inputTwo}} (Optional)</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Your Description Here" ng-model="date.description"></textarea>
                </div>
            </div>
            <div class="control">
                <button class="button" ng-click="saveItem()">{{buttonName}}</button>
            </div>
            <div class="control">
                <button class="button" ng-click="getSearch()">Search It Google</button>
            </div>
        </div>
    </div>
</div>
<!-- 
    <div ng-show="searched" >{{place.name}}</div>
    <div ng-show="searched">{{place.formatted_address}}</div>
    <div ng-show="searched">{{place.formatted_phone_number}}</div>
    <img ng-src="{{place.image}}">
</div> -->

<div ng-show="searched" ng-repeat="place in places">
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="box">
                <!-- <a ng-if="user" class="noBlue" href="#!/dates/{{date.dateId}}"> -->
                    <article class="tile is-child">
                    <h2 class="title">{{place.name}}</h2>
                    <img ng-src="{{place.image}}">
                    <h4>{{place.formatted_address}}</h4>
                    <h4>{{place.formatted_phone_number}}</h4>
                    <h4>{{place.website}}</h4>
                    <button class="button is-info right" ng-click="addToForm()">Create this Date</button>
                <!-- </a> -->
                </article>
                <br>
                <!-- <div class="buttons has-addons"> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>