This is my {{title}} page!


<div class="columns is-multiline">
    <div class="column is-one-third" ng-repeat="date in dates | filter: search.term">
        <div class="box">
            <article class="tile is-child">
                 <h3 class="title">{{date.name}}</h3>
                    <h4>{{date.description}}</h4>
                        <h5>Avg Rating: {{date.rating}} </h5>
                        <a class=""href="#!/dates/{{date.dateId}}">
                            <img ng-src="{{date.url}}" alt="" />
                        </a>
                        <div class="buttons has-addons">
                            <button class="button" ng-click="saveDate()">Save it!</button>
                            <a class="button is-small is-right" ng-click="rateOne()">
                                <span class="icon is-small">
                                    1
                                </span>
                            </a>
                            <a class="button is-small is-right" ng-click="rateTwo()">
                                <span class="icon is-small">
                                    2
                                </span>
                            </a>
                            <a class="button is-small is-right" ng-click="rateThree()">
                                <span class="icon is-small">
                                    3
                                </span>
                            </a>
                            <a class="button is-small is-right" ng-click="rateFour()">
                                <span class="icon is-small">
                                    4
                                </span>
                            </a>
                            <a class="button is-small is-right" ng-click="rateFive()">
                                <span class="icon is-small ">
                                    5
                                </span>
                            </a>
                        </div>
            </article>
            </div>
    </div>
</div>