This is my {{title}} page!

<div class="imgWrap">
    <div id="columns">
        <div class="box imgBox" ng-repeat="date in dates | filter: search.term">
            <h3 class="title">{{date.name}}</h3>
            <h4>{{date.description}}</h3>
                <h5>{{date.rating}} </h5>
                <div>
                    <img ng-src="{{date.url}}" alt="" />
                </div>
                <div class="buttons has-addons">
                        <button class="button" ng-click="saveDate()">Save it!</button>
                        <a class="button is-small is-right">
                            <span class="icon is-small">
                                1
                            </span>
                        </a>
                        <a class="button is-small is-right">
                            <span class="icon is-small">
                                2
                            </span>
                        </a>
                        <a class="button is-small is-right">
                            <span class="icon is-small">
                                3
                            </span>
                        </a>
                        <a class="button is-small is-right">
                            <span class="icon is-small">
                                4
                            </span>
                        </a>
                        <a class="button is-small is-right">
                            <span class="icon is-small ">
                                5
                            </span>
                        </a>
                </div>
        </div>
    </div>