
<!-- <div class="columns is-multiline">
    <div class="column is-one-third" ng-repeat="date in dates | filter: search.term">
        <div class="box">
            <a ng-if = "user" class="noBlue"href="#!/dates/{{date.dateId}}">
                <article class="tile is-child">
                <h2 class="title">{{date.name}}</h2>
                <h3>{{date.description}}</h3>
                    <img ng-src="{{date.url}}" alt="" />
                </a>
                <a ng-if = "!user" class="noBlue"href="">
                    <article class="tile is-child">
                        <h3 class="title">{{date.name}}</h3>
                        <h4>{{date.description}}</h4>
                        <img ng-src="{{date.url}}" alt="" />
                    </a>
                    <h3 class="tag is-success">Avg Rating: {{date.rating}} </h3>
                </article>
                    <br>
                <div ng-if="user" class="buttons has-addons">        
                        <a class="button is-small is-right rateBtn" ng-click="rate(1)">
                            <span class="icon is-small">
                                1
                            </span>
                        </a>
                        <a class="button is-small is-right rateBtn" ng-click="rate(2)">
                            <span class="icon is-small">
                                2
                            </span>
                        </a>
                        <a class="button is-small is-right rateBtn" ng-click="rate(3)">
                            <span class="icon is-small">
                                3
                            </span>
                        </a>
                        <a class="button is-small is-right rateBtn" ng-click="rate(4)">
                            <span class="icon is-small">
                                4
                            </span>
                        </a>
                        <a class="button is-small is-right rateBtn" ng-click="rate(5)">
                            <span class="icon is-small ">
                                5
                            </span>
                        </a>
                        <button class="button is-info right" ng-click="saveDate()">Save it!</button>
                        </div>
            </div>
    </div>
</div> -->

<section class="hero">
    <div class="hero-body heroColor">
        <div class="container">
            <h1 class="title">
                Great Dates
            </h1>
            <h2 class="subtitle">
                Hero subtitle
            </h2>
        </div>
    </div>
</section>

<div class="columns is-multiline">
    <!-- <div class="column is-one-third is-multiline"> -->
        <div class="card column is-one-quarter" ng-repeat="date in dates | filter: search.term">
            <a class="noBlue" href="#!/dates/{{date.dateId}}">
            <div class="card-image">
                <figure class="image is-1by1">
                    <img ng-src="{{date.url}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <!-- <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div> -->
                    <p class="title is-4">{{date.name}}</p>
                    <div class="">
                    <div class="tag rating">Avg Rating: {{date.rating}} </div>
            </a>
                </div>
            </div>
            <br>
            <div class="content">
                <br>
                <h6>Address: {{date.location}}</h6>
                <h6>Phone: {{date.phone}}</h6>
                <a ng-href="{{date.website}}" target="_blank">
                    <p class="subtitle is-6">Visit their page!</p>
                </a>
                </div>
            </div>
                
                <br>
                <div ng-if="user" class="buttons has-addons">
                    <a class="button is-small is-right rateBtn r1" ng-click="rate(1)">
                        <span class="icon is-small">
                            1
                        </span>
                    </a>
                    <a class="button is-small is-right rateBtn r2" ng-click="rate(2)">
                        <span class="icon is-small">
                            2
                        </span>
                    </a>
                    <a class="button is-small is-right rateBtn r3" ng-click="rate(3)">
                        <span class="icon is-small">
                            3
                        </span>
                    </a>
                    <a class="button is-small is-right rateBtn r4" ng-click="rate(4)">
                        <span class="icon is-small">
                            4
                        </span>
                    </a>
                    <a class="button is-small is-right rateBtn r5" ng-click="rate(5)">
                        <span class="icon is-small ">
                            5
                        </span>
                    </a>
                </div>
                <button class="button saveBtn right" ng-click="saveDate()">Save it!</button>
            </div>
        </a>
        </div>
    </div>
</div>

<!-- save button modal -->
<div>
    <div class="modal" id="saveBtn">
        <div class="modal-background" ng-click="toggleSaveModal()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title modalP">Save Successful!</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section ng-repeat"date in dates" class="modal-card-body">
                <p class = "modalP">You just saved {{savedName}} as a date! </p>
            </section>
            <footer class="modal-card-foot">
                <button class="button modalCont" ng-click="toggleSaveModal()">Continue Browsing</button>
                <a class="button" ng-href="#!/user/{{uid}}">My Dates</a>
            </footer>
        </div>
    </div>
    <!-- already saved button modal -->
    <div class="modal" id="alreadySaveBtn">
        <div class="modal-background" ng-click="toggleAlreadySaveModal()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title modalP">Already Saved!</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section ng-repeat"date in dates" class="modal-card-body">
                <p class = "modalP" >You already saved this date, Tiger!</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success modalCont" ng-click="toggleAlreadySaveModal()">Continue Browsing</button>
                <a class="button" ng-href="#!/user/{{uid}}">My Dates</a>
            </footer>
        </div>
    </div>
</div>
<!-- already saved button modal -->

<!-- new rate button modal -->
<div class="modal" id="newRate">
    <div class="modal-background" ng-click="toggleNewRate()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Rating!</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section ng-repeat"date in dates" class="modal-card-body">
            <p>You just rated {{ratingName}} a {{newRating}} out of 5!</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" ng-click="toggleNewRate()">Continue Browsing</button>
            <a class="button" ng-href="#!/user/{{uid}}">My Dates</a>
        </footer>
    </div>
</div>
<!-- patch rate -->
<div class="modal" id="patchRate">
    <div class="modal-background" ng-click="togglePatchRate()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Updated Rating!</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section ng-repeat"date in dates" class="modal-card-body">
            <p>You just updated your rating to a {{updateRating}} out of 5! </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" ng-click="togglePatchRate()">Continue Browsing</button>
            <a class="button" ng-href="#!/user/{{uid}}">My Dates</a>
        </footer>
    </div>
</div>