

<div class="imgWrap">
    <div id="columns">
        <div class="box imgBox" ng-repeat="date in dates | filter: search.term">
            <h3 class="title">{{date.name}}</h3>
            <div>
                <img ng-src="{{date.url}}" alt="" />
            </div>
            <h4>{{date.description}}</h4>
            <h4>Avg Rating: {{date.rating}}</h4>
                <div class="buttons has-addons">
                    <button class="button" ng-click="saveDate()">Save the Date</button>
                </div>
        </div>
    </div>
</div>
<div class="comments">
    <dir-disqus config="disqusConfig"></dir-disqus>
</div>