<nav class="level" ng-controller="NavCtrl">
    <input class="input" type="text" placeholder="Search..." ng-model="search.term">
        <div ng-if="user" class="navLinkBox">
            <a class="button is-warning is-info nav-link" href="#!/dates">Dates</a>
        </div>
        <div ng-if="user" class="navLinkBox">
            <a class="button is-warning is-info nav-link" href="#!/add">Add Dates</a>
        </div>
        <div ng-if="user" class="navLinkBox">
            <a class="button is-warning is-info nav-link" ng-href="#!/user/{{uid}}">My Dates</a>
        </div>
        <div ng-if="user" class="navLinkBox">
            <a class="button is-warning is-info nav-link" href="#!/user/1">Userinfo</a>
        </div>
        <div ng-if="user" class="navLinkBox">
            <a class="button is-warning is-info nav-link" ng-click="logout()">Logout</a>
        </div>
    <div ng-if="!user" class="navLinkBox">
        <a class="button is-warning is-info nav-link" href="#!/dates">Dates</a>
    </div>
    <div ng-if="!user" class="navLinkBox">
        <a class="button is-warning is-info nav-link" ng-click="login()">Login</a>
    </div>
</nav>