This is my {{title}} page!

<div class="imgWrap">
    <div id="columns">
        <div class="box imgBox" ng-repeat="date in dates | filter: search.term">
            <h3 class="title">{{date.name}}</h3>
            <h4>{{date.description}}</h4>
            <h4>{{date.rating}}</h4>
                <div>
                    <img ng-src="{{date.url}}" alt="" />
                </div>
                <div class="buttons has-addons">
                    <button class="button" ng-click="delete(date.savedKey)">Delete!</button>
                </div>
        </div>
    </div>
</div>